.footer {
    background: #f4f5ff;
    padding-top: 50px;
}

.footer-item {
    margin-bottom: 24px;
}

.footer-item .footer-logo {
    margin-bottom: 24px;
}

.footer-item .footer-text {
    margin-bottom: 20px;
}

.footer-item .footer-text p {
    margin-bottom: 6px;
}

.footer-item .footer-text p:last-child {
    margin-bottom: 0;
}

.footer-item .footer-social {
    margin-top: 20px;
}

.footer-item .footer-social .footer-social_item + .footer-social_item {
    margin-left: 8px;
}

.footer-item .footer-social .footer-social_item .footer-social_item--link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    color: var(--bs-white);
    text-align: center;
    background: var(--primary-color);
    font-size: .8em;
}

.footer-item .footer-social .footer-social_item .footer-social_item--link:hover {
    background: var(--primary-hover);
    color: var(--bs-white);
}

.footer-item .footer-title {
    font-size: 1.15em;
    margin-bottom: 10px;
    font-weight: 700;
    color: var(--primary-color);
}

.footer-item .footer-list .footer-list_item .footer-list_item--link {
    color: var(--bs-gray-800);
    transition: var(--transition-default);
}

.footer-item .footer-list .footer-list_item .footer-list_item--link:hover {
    color: var(--primary-color);
}

.footer-item .footer-list .footer-list_item .footer-list_item--link > i {
    width: 20px;
}

.footer-item .footer-list .footer-list_item + .footer-list_item {
    margin-top: 10px;
}

.footer-gird {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 480px;
}

.footer-gird .footer-item {
    margin: 0 12px 24px;
    width: calc(100% / 4 - 24px);
}

.footer-bottom {
    padding-bottom: 24px;
    padding-top: 24px;
    margin-top: 24px;
    border-top: 1px solid var(--bs-gray-300);
}